test/src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9591cbf9-4f36-41b8-955b-130978bc0144" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="d267e3e0-e371-4408-a6e6-ef06dc81b0dc" file="test.yaml" />
	<flow name="testFlow" doc:id="87963b0b-e0ec-45f4-8b09-5a135a6cbb41" >
		<http:listener doc:name="/test" doc:id="2065106b-7bd5-496b-952a-3ffe62f1cf7c" config-ref="HTTP_Listener_config" path="${http.resource}"/>
		<set-payload value='#[{
	Message:"Hello world mule"
}]' doc:name="Set Payload" doc:id="64e4d87f-73b1-49f5-b0d5-4b71ddfae2e2" />
		<logger level="INFO" doc:name="Logger" doc:id="cc3c9067-1024-44a8-82bd-417da037b360" message="This is my first logger"/>
	</flow>
</mule>
